body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.Category {
  background-color: grey
}
 .tabmeun{
  list-style: none;
  font-weight:bold;
  margin-top: 5px;
  white-space: nowrap;
  vertical-align: bottom;
}
.category-item {
  position: relative;
  display: inline-block;

  padding: 8px;
  border:1px solid lightgrey;
}
.Post-Area{
  border: 1px solid grey;
  padding:3px;
  margin: 2px;
}
.Post-title {
  border: 1px solid lightgrey;

}
.Post-Body {
  margin:2px;
  padding:2px;
}
